* {background-color:darkgray;color:black;font-family:verdana;font-size:16px}
#tabs {
    width:100%;
    position:fixed;
    top:0;
    left:0;
}

#tabs .tablinks {
    background-color:gray;
    width:25%;
    box-sizing:border-box;
    float:left;
    border:none;
    outline:none;
    margin:auto;
    padding:14px 16px;
    font-style:oblique;
    font-weight:bold;
    transition:0.2s;
}

#tabs .tablinks:hover {
    background-color:#555;
    color:white;
}

#tabs .tablinks:active {
    color:red;
    
}

@keyframes fadeEffect {
    from {opacity:0;}
    to {opacity:1;}
}
.tabcontents {
    margin:60px;
    display:none;
    animation:fadeEffect 1s;
}